<div class="client-list">
    <div class="client-list-header">
        <h1 class="client-list-heading">Client List ({{clientsCount}})</h1>
        <button *ngIf="clientList && clientList.length > 0" color="primary" mat-raised-button [routerLink]="['/client/client-add']">Add new client</button>
    </div>
    <div class="client-list-table-container">
      <div class="empty-container" *ngIf="clientList && clientList.length === 0">
        <div class="img-container"></div>
        <button color="primary" mat-raised-button [routerLink]="['/client/client-add']">Add new client</button>
      </div>
        <div class="table" *ngIf="clientList && clientList.length > 0">
            <table mat-table [dataSource]="dataSource">
          
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let client"> {{ client.firstName }} {{ client.lastName }} </td>
              </ng-container>
          
              <ng-container matColumnDef="emailAddress">
                <th mat-header-cell *matHeaderCellDef>Email Address</th>
                <td mat-cell *matCellDef="let client"> {{ client.emailAddress }} </td>
              </ng-container>
          
              <ng-container matColumnDef="contactNumber">
                <th mat-header-cell *matHeaderCellDef>Contact Number</th>
                <td mat-cell *matCellDef="let client"> {{ client.contactNumber }} </td>
              </ng-container>
          
              <ng-container matColumnDef="address">
                <th mat-header-cell *matHeaderCellDef>Address</th>
                <td mat-cell *matCellDef="let client"> {{ client.address }}  </td>
              </ng-container>

              <ng-container matColumnDef="createdDate">
                <th mat-header-cell *matHeaderCellDef>Created Date</th>
                <td mat-cell *matCellDef="let client"> {{ client.createdAt | date: 'mediumDate' }} </td>
              </ng-container>

              <ng-container matColumnDef="updatedDate">
                <th mat-header-cell *matHeaderCellDef>Updated Date</th>
                <td mat-cell *matCellDef="let client"> {{ client.updatedAt | date: 'mediumDate' }} </td>
              </ng-container>

              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>Action</th>
                <td mat-cell *matCellDef="let client">
                    <button mat-icon-button color="primary">
                        <mat-icon [routerLink]="['/client/client-view']" [queryParams]="{id: client._id}">remove_red_eye</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="openDeleteClient(client?._id)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          
            <mat-paginator [pageSizeOptions]="[7, 20, 30, 40, 50, 100]"
                           showFirstLastButtons 
                           aria-label="Select page of periodic elements">
            </mat-paginator>
          </div>
          
    </div>
</div>

<app-confirmation-window (close)="closeDeleteClient($event)" *ngIf="openDeleteConf" [action]="deleteAction" [titleText]="titleText" [messageText]="messageText" [confirmText]="confirmText" [cancelText]="cancelText"></app-confirmation-window>