.transaction-list {
    padding: 1rem;
    &-heading {
        font-weight: 500;
        font-size: 2rem;
    }
    &-table-container {
        min-height: 75vh;
        max-height: 75vh;
        height: 75vh;
        .table {
            height: 100%;
            overflow-y: auto;
        }
    }
}


th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
    width: 150px;
}

.mat-column-typeOfAssignment {
    width: 140px;
}

.mat-column-fees {
    width: 80px;
}

.mat-column-financialYear {
    width: 120px;
}

.mat-column-assessmentYear {
    width: 120px;
}

.mat-column-updatedDate {
    width: 120px;
}

.mat-column-createdDate {
    width: 120px;
}

.mat-column-status {
    width: 120px;
}

.mat-column-action {
    width: 120px;
}

