<div class="transaction-list">
    <div class="transaction-list-header">
        <h1 class="transaction-list-heading">Transaction List ({{count}})</h1>
    </div>
    <div class="transaction-list-table-container">
      <div class="empty-container" *ngIf="transactionList && transactionList.length === 0">
        <div class="img-container"></div>
        <button color="primary" mat-raised-button [routerLink]="['/client/client-add']">Add new client</button>
      </div>
        <div class="table" *ngIf="transactionList && transactionList.length > 0">
            <table mat-table [dataSource]="dataSource">
          
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let transaction"> {{ transaction.name }} </td>
              </ng-container>
          
              <ng-container matColumnDef="typeOfAssignment">
                <th mat-header-cell *matHeaderCellDef>Type of Assignment</th>
                <td mat-cell *matCellDef="let transaction"> {{ transaction.typeOfAssignment }} </td>
              </ng-container>
          
              <ng-container matColumnDef="fees">
                <th mat-header-cell *matHeaderCellDef>Fees</th>
                <td mat-cell *matCellDef="let transaction"> {{ transaction.fees }} </td>
              </ng-container>
          
              <ng-container matColumnDef="financialYear">
                <th mat-header-cell *matHeaderCellDef>Financial Year</th>
                <td mat-cell *matCellDef="let transaction"> {{ transaction.financialYear }}  </td>
              </ng-container>

              <ng-container matColumnDef="assessmentYear">
                <th mat-header-cell *matHeaderCellDef>Assessment Year</th>
                <td mat-cell *matCellDef="let transaction"> {{ transaction.assessmentYear }}  </td>
              </ng-container>

              <ng-container matColumnDef="createdDate">
                <th mat-header-cell *matHeaderCellDef>Created Date</th>
                <td mat-cell *matCellDef="let transaction"> {{ transaction.createdAt | date: 'mediumDate' }} </td>
              </ng-container>

              <ng-container matColumnDef="updatedDate">
                <th mat-header-cell *matHeaderCellDef>Updated Date</th>
                <td mat-cell *matCellDef="let transaction"> {{ transaction.updatedAt | date: 'mediumDate' }} </td>
              </ng-container>

              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>Status</th>
                <td mat-cell *matCellDef="let transaction" [ngClass]="{'pending': transaction.status === 'Pending', 'received' : transaction.status === 'Received' }"> {{ transaction.status }}  </td>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          
            <mat-paginator [pageSizeOptions]="[7, 20, 30, 40, 50, 100]"
                           showFirstLastButtons>
            </mat-paginator>
          </div>
          
    </div>
</div>

<app-confirmation-window (close)="closeDeleteTransaction($event)" *ngIf="openDeleteConf" [action]="deleteAction" [titleText]="titleText" [messageText]="messageText" [confirmText]="confirmText" [cancelText]="cancelText"></app-confirmation-window>